@model int
<div class="btn-group btn-group-sm" role="group">
    <a asp-action="Edit" asp-route-id="@Model" class="btn btn-primary" title="Edit">
        <i class="fas fa-pencil-alt"></i>
    </a>
    <a asp-action="Details" asp-route-id="@Model" class="btn btn-success" title="Details">
        <i class="fas fa-id-card"></i>
    </a>
    <a asp-action="Delete" asp-route-id="@Model" class="btn btn-danger" title="Delete">
        <i class="far fa-trash-alt"></i>
    </a>
</div>